appdirs==1.4.4
attrs==20.3.0
Automat==20.2.0
constantly==15.1.0
distlib==0.3.1
docutils==0.14
filelock==3.0.12
hyperlink==21.0.0
idna==3.1
importlib-metadata==4.0.1
incremental==21.3.0
lockfile==0.11.0
pystache==0.5.4
python-daemon==2.2.3
simplejson==3.2.0
six==1.15.0
Twisted==21.2.0
typing-extensions==3.7.4.3
virtualenv==20.4.4
zipp==3.4.1
zope.interface==5.4.0
